<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                     http://www.springframework.org/schema/context
                     http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:property-placeholder location="classpath:conf.properties"/>
    <import resource="server-asyndao.xml"/>

    <bean id="sqlSessionFactoryBuilder" class="org.apache.ibatis.session.SqlSessionFactoryBuilder"/>
    <bean name="sqlSessionFactory" factory-bean="sqlSessionFactoryBuilder" factory-method="build">
        <constructor-arg index="0">
            <bean class="org.apache.ibatis.io.Resources" factory-method="getResourceAsReader">
                <constructor-arg value="mybatis.xml"/>
            </bean>
        </constructor-arg>
        <constructor-arg index="1" value="${environment}"/>
        <constructor-arg index="2">
            <props>
                <prop key="sqlDialect">${sqlDialect}</prop>
            </props>
        </constructor-arg>
    </bean>

    <context:component-scan base-package="cn.ohyeah.ww">
        <context:include-filter type="regex" expression="${daoPackage}"/>
        <context:exclude-filter type="regex" expression="cn.ohyeah.ww.obj..*"/>
    </context:component-scan>
</beans>